#######################################################################
#                 This file is managed by Saltstack.                  #
#                      Any changes will be lost.                      #
#######################################################################

#
# weechat -- irc.conf
#
# WARNING: It is NOT recommended to edit this file by hand,
# especially if WeeChat is running.
#
# Use /set or similar command to change settings in WeeChat.
#
# For more info, see: https://weechat.org/doc/quickstart
#

[look]
buffer_open_before_autojoin = on
buffer_open_before_join = off
buffer_switch_autojoin = on
buffer_switch_join = on
color_nicks_in_names = off
color_nicks_in_nicklist = off
color_nicks_in_server_messages = on
color_pv_nick_like_channel = on
ctcp_time_format = "%a, %d %b %Y %T %z"
display_away = local
display_ctcp_blocked = on
display_ctcp_reply = on
display_ctcp_unknown = on
display_host_join = on
display_host_join_local = on
display_host_quit = on
display_join_message = "329,332,333,366"
display_old_topic = on
display_pv_away_once = on
display_pv_back = on
display_pv_warning_address = off
highlight_channel = "$nick"
highlight_pv = "$nick"
highlight_server = "$nick"
highlight_tags_restrict = "irc_privmsg,irc_notice"
item_channel_modes_hide_args = "k"
item_display_server = buffer_plugin
item_nick_modes = on
item_nick_prefix = on
join_auto_add_chantype = off
msgbuffer_fallback = current
new_channel_position = none
new_pv_position = none
nick_completion_smart = speakers
nick_mode = prefix
nick_mode_empty = off
nicks_hide_password = "nickserv"
notice_as_pv = auto
notice_welcome_redirect = on
notice_welcome_tags = ""
notify_tags_ison = "notify_message"
notify_tags_whois = "notify_message"
part_closes_buffer = off
pv_buffer = independent
pv_tags = "notify_private"
raw_messages = 256
server_buffer = independent
smart_filter = on
smart_filter_chghost = on
smart_filter_delay = 5
smart_filter_join = on
smart_filter_join_unmask = 30
smart_filter_mode = "+"
smart_filter_nick = on
smart_filter_quit = on
temporary_servers = off
topic_strip_colors = off

[color]
input_nick = lightcyan
item_channel_modes = default
item_lag_counting = default
item_lag_finished = yellow
item_nick_modes = default
message_chghost = brown
message_join = green
message_kick = red
message_quit = red
mirc_remap = "1,-1:darkgray"
nick_prefixes = "q:lightred;a:lightcyan;o:lightgreen;h:lightmagenta;v:yellow;*:lightblue"
notice = green
reason_kick = default
reason_quit = default
topic_current = default
topic_new = white
topic_old = default

[network]
autoreconnect_delay_growing = 2
autoreconnect_delay_max = 600
ban_mask_default = "*!$ident@$host"
colors_receive = on
colors_send = on
lag_check = 60
lag_max = 1800
lag_min_show = 500
lag_reconnect = 0
lag_refresh_interval = 1
notify_check_ison = 1
notify_check_whois = 5
sasl_fail_unavailable = on
send_unknown_commands = off
whois_double_nick = off

[msgbuffer]

[ctcp]

[ignore]

[server_default]
addresses = ""
anti_flood_prio_high = 2
anti_flood_prio_low = 2
autoconnect = off
autojoin = ""
autoreconnect = on
autoreconnect_delay = 10
autorejoin = off
autorejoin_delay = 30
away_check = 0
away_check_max_nicks = 25
capabilities = ""
charset_message = message
command = ""
command_delay = 0
connection_timeout = 60
ipv6 = on
local_hostname = ""
msg_kick = ""
msg_part = "WeeChat ${info:version}"
msg_quit = "WeeChat ${info:version}"
nicks = "stooj,stooj1,stooj2,stooj3,stooj4"
nicks_alternate = on
notify = ""
password = ""
proxy = ""
realname = ""
sasl_fail = continue
sasl_key = ""
sasl_mechanism = plain
sasl_password = ""
sasl_timeout = 15
sasl_username = ""
split_msg_max_length = 512
ssl = off
ssl_cert = ""
ssl_dhkey_size = 2048
ssl_fingerprint = ""
ssl_password = ""
ssl_priorities = "NORMAL:-VERS-SSL3.0"
ssl_verify = on
usermode = ""
username = "stooj"

[server]
{% if role == 'cio-laptop' %}
{% else %}
freenode.addresses = "znc.ginstoo.net/6502"
freenode.proxy
freenode.ipv6
freenode.ssl = on
freenode.ssl_cert
freenode.ssl_password
freenode.ssl_priorities
freenode.ssl_dhkey_size
freenode.ssl_fingerprint
freenode.ssl_verify
freenode.password = "${sec.data.znc}"
freenode.capabilities
freenode.sasl_mechanism
freenode.sasl_username
freenode.sasl_password
freenode.sasl_key
freenode.sasl_timeout
freenode.sasl_fail
freenode.autoconnect = on
freenode.autoreconnect
freenode.autoreconnect_delay
freenode.nicks
freenode.nicks_alternate
freenode.username = "stooj/freenode"
freenode.realname
freenode.local_hostname
freenode.usermode
freenode.command
freenode.command_delay
freenode.autojoin
freenode.autorejoin
freenode.autorejoin_delay
freenode.connection_timeout
freenode.anti_flood_prio_high
freenode.anti_flood_prio_low
freenode.away_check
freenode.away_check_max_nicks
freenode.msg_kick
freenode.msg_part
freenode.msg_quit
freenode.notify
freenode.split_msg_max_length
freenode.charset_message
geekshed.addresses = "znc.ginstoo.net/6502"
geekshed.proxy
geekshed.ipv6
geekshed.ssl = on
geekshed.ssl_cert
geekshed.ssl_password
geekshed.ssl_priorities
geekshed.ssl_dhkey_size
geekshed.ssl_fingerprint
geekshed.ssl_verify
geekshed.password = "${sec.data.znc}"
geekshed.capabilities
geekshed.sasl_mechanism
geekshed.sasl_username
geekshed.sasl_password
geekshed.sasl_key
geekshed.sasl_timeout
geekshed.sasl_fail
geekshed.autoconnect = on
geekshed.autoreconnect
geekshed.autoreconnect_delay
geekshed.nicks
geekshed.nicks_alternate
geekshed.username = "stooj/geekshed"
geekshed.realname
geekshed.local_hostname
geekshed.usermode
geekshed.command
geekshed.command_delay
geekshed.autojoin
geekshed.autorejoin
geekshed.autorejoin_delay
geekshed.connection_timeout
geekshed.anti_flood_prio_high
geekshed.anti_flood_prio_low
geekshed.away_check
geekshed.away_check_max_nicks
geekshed.msg_kick
geekshed.msg_part
geekshed.msg_quit
geekshed.notify
geekshed.split_msg_max_length
geekshed.charset_message
espernet.addresses = "znc.ginstoo.net/6502"
espernet.proxy
espernet.ipv6
espernet.ssl = on
espernet.ssl_cert
espernet.ssl_password
espernet.ssl_priorities
espernet.ssl_dhkey_size
espernet.ssl_fingerprint
espernet.ssl_verify
espernet.password = "${sec.data.znc}"
espernet.capabilities
espernet.sasl_mechanism
espernet.sasl_username
espernet.sasl_password
espernet.sasl_key
espernet.sasl_timeout
espernet.sasl_fail
espernet.autoconnect = on
espernet.autoreconnect
espernet.autoreconnect_delay
espernet.nicks
espernet.nicks_alternate
espernet.username = "stooj/espernet"
espernet.realname
espernet.local_hostname
espernet.usermode
espernet.command
espernet.command_delay
espernet.autojoin
espernet.autorejoin
espernet.autorejoin_delay
espernet.connection_timeout
espernet.anti_flood_prio_high
espernet.anti_flood_prio_low
espernet.away_check
espernet.away_check_max_nicks
espernet.msg_kick
espernet.msg_part
espernet.msg_quit
espernet.notify
espernet.split_msg_max_length
espernet.charset_message
aachat.addresses = "znc.ginstoo.net/6502"
aachat.proxy
aachat.ipv6
aachat.ssl = on
aachat.ssl_cert
aachat.ssl_password
aachat.ssl_priorities
aachat.ssl_dhkey_size
aachat.ssl_fingerprint
aachat.ssl_verify
aachat.password = "${sec.data.znc}"
aachat.capabilities
aachat.sasl_mechanism
aachat.sasl_username
aachat.sasl_password
aachat.sasl_key
aachat.sasl_timeout
aachat.sasl_fail
aachat.autoconnect = on
aachat.autoreconnect
aachat.autoreconnect_delay
aachat.nicks
aachat.nicks_alternate
aachat.username = "stooj/aachat"
aachat.realname
aachat.local_hostname
aachat.usermode
aachat.command
aachat.command_delay
aachat.autojoin
aachat.autorejoin
aachat.autorejoin_delay
aachat.connection_timeout
aachat.anti_flood_prio_high
aachat.anti_flood_prio_low
aachat.away_check
aachat.away_check_max_nicks
aachat.msg_kick
aachat.msg_part
aachat.msg_quit
aachat.notify
aachat.split_msg_max_length
aachat.charset_message
{% endif %}
