#
# weechat -- sec.conf
#
# WARNING: It is NOT recommended to edit this file by hand,
# especially if WeeChat is running.
#
# Use /set or similar command to change settings in WeeChat.
#
# For more info, see: https://weechat.org/doc/quickstart
#
{% set role = salt.grains.get('role', None) %}

{% if role == 'cio-laptop' %}
    {% set slack_token = config.sec.cio_slack_token %}
{% else %}
    {% set slack_token = config.sec.slack_token %}
{% endif %}

[crypt]
cipher = aes256
hash_algo = sha256
passphrase_file = ""
salt = on

[data]
__passphrase__ = off
slack_token = "{{ slack_token }}"
znc = "{{ config.sec.znc_password }}"
matrix = "{{ config.sec.matrix_password }}"
matrix_org = "{{ config.sec.matrix_org_password }}"
znc_ssl_fingerprint = "{{ config.sec.znc_ssl_fingerprint }}"
