{%- macro render_raw_option(keyword, value) -%}
  {%- if value is sameas true -%}
{{ keyword }} yes
  {%- elif value is sameas false -%}
{{ keyword }} no
  {%- elif value is string or value is number -%}
{{ keyword }} {{ value }}
  {%- else -%}
{%- for single_value in value -%}
{{ keyword }} {{ single_value }}
{% endfor -%}
  {%- endif -%}
{%- endmacro -%}
#######################################################################
#                           Managed by salt                           #
#######################################################################
#            Any changes to this file will be overwritten             #
#######################################################################


{%- if 'hosts' in config %}
{% for host, conf in config['hosts'].items() %}
Host {{ host }}
    {%- for key, val in conf.items() %}
    {{ render_raw_option(key, val) }}
    {%- endfor %}
{%- endfor %}
{%- endif %}

# vim: ft=sshconfig
