# -*- coding: utf-8 -*-

{## Start with defaults from defaults.yaml ##}
{% import_yaml "stooj_dotfiles/defaults.yaml" as defaults %}
{% import_yaml "stooj_dotfiles/osfamilymap.yaml" as os_familymap %}

{% set stooj_dotfiles = salt['grains.filter_by'](
  defaults,
  merge=salt['grains.filter_by'](
    os_familymap,
    merge=salt['pillar.get']('stooj_dotfiles'),
  ),
  base='default')
%}

{# vim:set et sw=2 ts=4 ft=sls: #}
