# ----------------------------------------------------------------------
# file: ~/.newsbeuter/config
# vim:  set ai et fenc=utf-8 ft=conf nu si sts=0 sw=4 ts=8 tw=0 :
# ----------------------------------------------------------------------
#
auto-reload yes
browser qutebrowser
cleanup-on-quit yes
download-path = {{ config.download_path }}
feed-sort-order title-dec
max-downloads 4
# notify-always no
# notify-format "newsbeuter: %n unread articles within %f unread feeds"
notify-program notify-send
notify-xterm yes
notify-screen yes
player mpv
refresh-on-startup yes
reload-time 20
reload-threads 2
#show-read-articles no
show-read-feeds no

# binds --------------------

bind-key \ reload-all
bind-key "RIGHT" select-tag
bind-key "SPACE" open
bind-key j next
bind-key k prev
bind-key J next-feed
bind-key K prev-feed
bind-key j down article
bind-key k up article
bind-key J next article
bind-key K prev article

# formatting and colorization ------------------------------------------

articlelist-format "%4i %f %D  %?T?|%-17T| ?%t"

highlight feedlist    "^  *[0-9]+  *N  "                    red      default
highlight articlelist "^  *[0-9]+  *N  "                    blue     white

highlight article     "(^Feed:.*|^Title:.*|^Author:.*)"     magenta    default
highlight article     "(^Link:.*|^Date:.*)"                 white    default
highlight article     "^Podcast Download URL:.*"            red      default
highlight article     "^Links:"                             red      black    underline
highlight article     "https?://[^ ]+"                      red      default
highlight article     "^(Title):.*$"                        blue     default
highlight article     "\\[[0-9][0-9]*\\]"                   magenta  default  bold
highlight article     "\\[image\\ [0-9]+\\]"                green    default  bold
highlight article     "\\[embedded flash: [0-9][0-9]*\\]"   green    default  bold
highlight article     ":.*\\(link\\)$"                      color6   default
highlight article     ":.*\\(image\\)$"                     color15  default
highlight article     ":.*\\(embedded flash\\)$"            color9   default

color background                                            default   default
color listnormal                                            default   default
color listfocus                                             black     green
color info                                                  blue      black
color article                                               default   default
