#!/bin/sh

# Set virtualenvs directory
export WORKON_HOME="$HOME/.virtualenvs"

{% if salt['grains.get']('os_family', 'None') == 'Debian' %}
VIRTUALENVWRAPPER=/usr/share/virtualenvwrapper/virtualenvwrapper.sh
{% else %}
VIRTUALENVWRAPPER=/usr/bin/virtualenvwrapper.sh
{% endif %}

if [ -f "$VIRTUALENVWRAPPER" ]; then
    . "$VIRTUALENVWRAPPER"
else
    exit 1
fi

if [ ! -d "$WORKON_HOME"/neovim2 ]; then
    mkvirtualenv --python="$(command -v python2)" neovim2
    pip install neovim
    deactivate
fi
if [ ! -d "$WORKON_HOME"/neovim3 ]; then
    mkvirtualenv --python="$(command -v python3)" neovim3
    pip install neovim
    deactivate
fi
