------------------------------------------------------------------------
--                          Managed by salt                           --
--                 Any changes to this file will be lost              --
------------------------------------------------------------------------

-- This is the configuration file for {{ account }}.

function trim(s)
    -- from PiL2 20.4
    return (s:gsub("^%s*(.-)%s*$", "%1"))
end

---------------
--  Options  --
---------------
options.timeout = 60
options.subscribe = true
options.namespace = false
options.create = true

-- Authentication

{%- if 'password_location' in data -%}
{%- set password_location = data.password_location -%}
{%- else -%}
{%- set password_location = 'modoboa/cleef' -%}
{%- endif %}

status, mypass = pipe_from('python2 ~/.mail_config/lib/offlineimap-get-passwords.py {{ data.user }} {{ password_location }}')
mypass = trim(mypass)

EECS = IMAP {
    server = '{{ data.host }}',
    username = '{{ data.user }}',
    password = mypass,
    ssl = 'tls'
}

-- Get some basic tables loaded so we can just look at those rather than
-- searching the mailbox multiple times
recent = EECS.INBOX:is_recent()
all = EECS.INBOX:select_all()
seen = EECS.INBOX:is_seen()

-- Filters
{% for filtername, data in data.filters.items() -%}
    {%- set filterlist = [] -%}
    {%- for field, match in data.items() -%}
        {%- if loop.first -%}
            {%- set prefix = 'msgs = ' -%}
        {%- else -%}
            {%- set prefix = '    ' -%}
        {%- endif -%}
        {%- if match is string -%}
            {%- set ruleline = prefix ~ 'seen:' ~ field ~ '(\'' ~ match ~ '\')' -%}
            {%- set filterlist = filterlist.append(ruleline) -%}
        {%- else -%}
            {%- for rule in match -%}
                {%- if loop.first and prefix == 'msgs = ' -%}
                    {%- set innerprefix = prefix -%}
                {%- else -%}
                    {%- set innerprefix = '    ' -%}
                {%- endif -%}
                {%- set ruleline = innerprefix ~ 'seen:' ~ field ~ '(\'' ~ rule ~ '\')' -%}
                {%- set filterlist = filterlist.append(ruleline) -%}
            {%- endfor -%}
        {%- endif -%}
    {%- endfor -%}
{% for line in filterlist -%}
{{ line }}{% if loop.last %}{% else %} +{% endif %}
{% endfor -%}
msgs:move_messages(EECS['{{ filtername }}'])

{% endfor -%}

