#######################################################################
#                          Managed by salt                            #
#######################################################################

# The base where all mail is stored.
base=~/.mail

# Maildirs. '...' means use all subfolders.
{% for account, _ in accounts.items() -%}
maildir={{ account }}...
{% endfor %}

database=~/.mairix/database

# The output folder after a search
mfolder=mairix-search

# Don't index spam folders
{% for account, data in accounts.items() -%}
{%- if 'spamfolder' in data -%}
{%- set spamfolder = data.spamfolder -%}
{%- else -%}
{%- set spamfolder = 'spam' -%}
{%- endif -%}
omit={{ account }}/{{ spamfolder }}
{% endfor %}

# Don't index trash folders
{% for account, data in accounts.items() -%}
{%- if 'trashfolder' in data -%}
{%- set trashfolder = data.trashfolder -%}
{%- else -%}
{%- set trashfolder = 'trash' -%}
{%- endif -%}
omit={{ account }}/{{ trashfolder }}
{% endfor %}
