# The following are default values for all accounts
defaults
tls on
tls_starttls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
auth on
logfile /tmp/msmtp.log
syslog off
port 587

{% set default_account = False %}

{% for name, data in accounts.items() -%}
account {{ name }}
{% for key, value in data.items() -%}
{%- if key == 'password_location' -%}
passwordeval "gpg --no-tty --quiet --for-your-eyes-only --decrypt ~/.password-store/{{ value }}/{{ data.user }}.gpg | head -n 1"
{% elif key == 'default_account' and value -%}
{%- set default_account = name -%}
{%- elif key == 'filters' -%}
{%- elif key == 'gmail_style' -%}
{%- elif key == 'smtp_host' -%}
{# Ignore host until end #}
{%- elif key == 'host' -%}
{# Ignore host until end #}
{%- else -%}
{{ key }} {{ value }}
{%- endif %}
{% endfor %}
{%- if 'smtp_host' in data.keys() -%}
host {{ data.smtp_host }}
{%- else -%}
host {{ data.host }}
{% endif %}
{%- if 'from' not in data.keys() -%}
from {{ data.user }}
{% endif %}
{%- if 'password_location' not in data.keys() -%}
passwordeval "gpg --no-tty --quiet --for-your-eyes-only --decrypt ~/.password-store/modoboa/cleef/{{ data.user }}.gpg | head -n 1"
{% endif %}
{% endfor %}

{% if default_account %}
account default : {{ default_account }}
{% endif %}
