[general]

metadata = ~/.offlineimap
accounts = {% for account in accounts %}{{ account }}{% if not loop.last %}, {%endif %}{% endfor %}
maxsyncaccounts = 3
ui = quiet
pythonfile = ~/.mail_config/lib/offlineimap-get-passwords.py
socktimeout = 360

[mbnames]

enabled = yes
filename = ~/.mail_config/mutt/muttmailboxes
header = "mailboxes "
peritem = "+%(accountname)s/%(foldername)s"
sep = " "
footer = "\n"

{% for account, data in accounts.items() -%}

{%- if 'gmail' in data.host -%}
{%- set account_type = 'gmail' -%}
{%- else -%}
{%- set account_type = 'imap' -%}
{%- endif -%}

[Account {{ account }}]

localrepository = local-{{ account }}
remoterepository = remote-{{ account }}

{% if 'filters' in data %}
presynchook = /usr/bin/imapfilter -vc ~/.mail_config/imapfilter/{{ account }}.lua
{% endif %}
{% if account_type == 'gmail' %}
synclabels = yes
labelsheader = X-Keywords
{% endif %}

[Repository local-{{ account }}]
{% if account_type == 'gmail' -%}
type = GmailMaildir
{% else -%}
type = Maildir
{%- endif %}
localfolders = ~/.mail/{{ account }}

{% if account_type == 'gmail' -%}
{% if 'gmail_style' in data.keys() and data.gmail_style == 'uk' -%}
{%- set mb_prefix = 'Google Mail' -%}
{%- set bin = 'Bin' -%}
{%- else -%}
{%- set mb_prefix = 'Gmail' -%}
{%- set bin = 'Trash' -%}
{%- endif %}
nametrans = lambda folder: {'drafts':   '[{{ mb_prefix }}]/Drafts',
                            'sent':     '[{{ mb_prefix }}]/Sent Mail',
                            'important':'[{{ mb_prefix }}]/Important',
                            'spam':     '[{{ mb_prefix }}]/Spam',
                            'starred':  '[{{ mb_prefix }}]/Starred',
                            'rubbish':  '[{{ mb_prefix }}]/{{ bin }}',
                            'archive':  '[{{ mb_prefix }}]/All Mail',
                            'inbox': 'INBOX',
                            }.get(folder, folder)
{% else -%}
nametrans = lambda foldername: re.sub('inbox', 'INBOX',
    re.sub('drafts', 'Drafts',
    re.sub('spam', 'Junk',
    re.sub('sent', 'Sent',
    re.sub('rubbish', 'Trash',
    re.sub('archives', 'Archives',
    foldername))))))
{%- endif %}

[Repository remote-{{ account }}]
{% if account_type == 'gmail' -%}
type = Gmail
{% else -%}
type = IMAP
remotehost = {{ data.host }}
{%- endif %}

remoteuser = {{ data.user }}
{%- if 'password_location' in data -%}
{%- set password_location = data.password_location -%}
{%- else -%}
{%- set password_location = 'modoboa/cleef' -%}
{%- endif %}
remotepasseval = get_password("{{ data.user }}", password_location="{{ password_location }}")

{# Default is yes
ssl = yes
#}
sslcacertfile = /etc/ssl/certs/ca-certificates.crt

{% if account_type == 'gmail' -%}
{# Workaround: See https://github.com/OfflineIMAP/offlineimap/issues/573 #}
ssl_version = tls1_2
{% if 'gmail_style' in data.keys() and data.gmail_style == 'uk' -%}
{%- set mb_prefix = 'Google Mail' -%}
{%- set bin = 'Bin' -%}
{%- else -%}
{%- set mb_prefix = 'Gmail' -%}
{%- set bin = 'Trash' -%}
{%- endif %}
# Don't sync duplicate folders
folderfilter = lambda folder: folder not in ['[{{ mb_prefix }}]/All Mail',
                                             '[{{ mb_prefix }}]/Important',
                                             '[{{ mb_prefix }}]/Starred',
                                             ]

nametrans = lambda folder: {'[{{ mb_prefix }}]/Drafts':    'drafts',
                            '[{{ mb_prefix }}]/Sent Mail': 'sent',
                            '[{{ mb_prefix }}]/Starred':   'flagged',
                            '[{{ mb_prefix }}]/Important':   'important',
                            '[{{ mb_prefix }}]/Spam':   'spam',
                            '[{{ mb_prefix }}]/{{ bin }}':     'rubbish',
                            '[{{ mb_prefix }}]/All Mail':  'archive',
                            'INBOX': 'inbox',
                            }.get(folder, folder)

{% else -%}
nametrans = lambda foldername: re.sub('INBOX', 'inbox',
    re.sub('Drafts', 'drafts',
    re.sub('Junk', 'spam',
    re.sub('Sent', 'sent',
    re.sub('Trash', 'rubbish',
    re.sub('Archives', 'archives',
    foldername))))))
{%- endif %}

{% endfor %}
