{#- Template for serverlist config file. Context object name: config -#}
v=2.12.4

{% for servername, settings in config.items() -%}
N={{ servername }}
{% for key, value in settings.get('config', {}).items() -%}
{{ key }}={{ value }}
{% endfor %}
{%- for address in settings.get('addresses', []) -%}
S={{ address }}
{% endfor %}
{%- for channel in settings.get('channels', []) -%}
J={{ channel }}
{% endfor %}
{% endfor %}

{#-
-#}
