#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Mattermost
Exec={{ chromium_location }} --profile-directory=Default --app-id=fkbhheeenajflofffdojbngmphdklnic
Icon=chrome-fkbhheeenajflofffdojbngmphdklnic-Default
StartupWMClass=crx_fkbhheeenajflofffdojbngmphdklnic

{# vim:set et sw=4 ts=4 ft=desktop.jinja: #}
