#
# MakeMKV settings file, written by MakeMKV v1.14.3 linux(x64-release)
#

app_DestinationDir = "{{ config.destination_dir }}"
app_DestinationType = "2"
app_Java = ""
{% if config.serial_key is defined -%}
app_Key = "{{ config.serial_key }}"
{%- endif %}
app_ccextractor = "/usr/bin/ccextractor"
sdf_Stop = ""
