#!/bin/sh
#
# Startup script when booting into an i3 environment
#
# Pilfered from http://i3wm.org/docs/user-contributed/lzap-config.html
#

# Start compositor
## compton is crashing with the -b flag at the moment
## See https://github.com/chjj/compton/issues/161
## https://github.com/chjj/compton/issues/170
## https://github.com/chjj/compton/issues/176
# compton --config "$HOME"/.config/compton.conf -b
compton --config "$HOME"/.config/compton.conf --xrender-sync-fence -b 

## Configure Gnome-Keyring
# Start GNOME Keyring
# From
# http://from-the-cloud.com/en/free-software/2013/03/13_getting-gnome-keyring-to-work-on-i3.html
# https://wiki.archlinux.org/index.php/Gnome_Keyring#Use_Without_GNOME
# eval "$(/usr/bin/gnome-keyring-daemon --start --components=gpg,pkcs11,secrets,ssh)"
# export SSH_AUTH_SOCK
# export GPG_AGENT_INFO
# export GNOME_KEYRING_CONTROL
# export GNOME_KEYRING_PID

# Start a polkit
if [ -e /usr/lib/polkit-kde/polkit-kde-authentication-agent-1 ]; then 
    /usr/lib/polkit-kde/polkit-kde-authentication-agent-1 &
elif [ -e /usr/lib/x86_64-linux-gnu/libexec/polkit-kde-authentication-agent-1 ]; then
    /usr/lib/x86_64-linux-gnu/libexec/polkit-kde-authentication-agent-1 &
fi

# Try sourcing .profile to see if that fixes dunst's path issues
#. $HOME/.profile

if [ -e "$HOME/.Xresources" ]; then
    xrdb -merge "$HOME/.Xresources"
fi
## Configure x programs according to indoor/outdoor preferences
if [ -e /tmp/outdoors ]; then
    xrdb -merge "$HOME/.Xresources.outdoors"
else
    xrdb -merge "$HOME/.Xresources.indoors"
fi

## Set startup volume
if pactl list short sinks | grep hdmi; then
    hdmi_sink=$(pactl list short sinks | grep hdmi | cut -f1)
    if pactl list short sinks | grep analog; then
        analog_sink=$(pactl list short sinks | grep analog | cut -f1)
        pactl suspend-sink "$hdmi_sink" true
        pactl suspend-sink "$analog_sink" false
        pulse_sink="$analog_sink"
    else
        pactl suspend-sink "$hdmi_sink" false
        pulse_sink="$hdmi_sink"
    fi
fi
pactl set-default-sink "$pulse_sink"
pactl set-sink-volume "$pulse_sink" '50%'

## Disable System beeps
xset -b

## Set LCD brightness
if command -v xbacklight > /dev/null; then
    xbacklight -set 70
fi

## Start osd notifier
if command -v dunst > /dev/null; then
    dunst &
fi

## Gnome tools for making gtk look nice
#gnome-settings-daemon &

# Set the background image
systemctl --user start change_i3_background.service
systemctl --user start change_i3_background.timer

# Set the mail collector going
if command -v mail-services > /dev/null ; then
    mail-services &
fi

# Merge clipboards
if command -v autocutsel > /dev/null ; then
    autocutsel -fork &
    autocutsel -selection PRIMARY -fork &
fi

# Mail notifications if needed/available
if [ -e "$HOME/.mail_config/lib/mail-watch" ]; then
    "$HOME"/.mail_config/lib/mail-watch &
fi

# Launch mopidy
if command -v mopidy > /dev/null ; then
    mopidy &
elif command -v mpd > /dev/null ; then
# Launch mpd
    mpd &
fi

# MPD notifications if available
if command -v mpdmonitor > /dev/null ; then
    mpdmonitor &
fi

if command -v kwalletd5 > /dev/null; then
    kwalletd5 &
fi

# Launch nextcloud
if command -v nextcloud > /dev/null; then
    nextcloud &
fi

# Launch keybase

if command -v keybase-gui > /dev/null; then
    env KEYBASE_AUTOSTART=1 keybase-gui &
fi

# Launch workrave
if command -v workrave > /dev/null ; then
    workrave &
fi

{% set travelling = salt.grains.get('travelling', False) %}
{% if travelling %}
# Launch pia
if command -v /opt/piavpn/bin/pia-client > /dev/null; then
    /opt/piavpn/bin/pia-client & 
fi
{% endif %}


{% if salt.grains.get('id', None) == 'ellen.stooj.org' %}
xrandr --output DVI-I-1 --auto --rotate left --left-of DP-0
{% endif %}

{% if salt.grains.get('hidpi', False) == True %}
num_of_monitors=$(xrandr --listactivemonitors | \
    head --lines 1 | \
    cut --delimiter : --fields 2 | \
    xargs)
if [[ $num_of_monitors -eq 1 ]]; then
    "$HOME/bin/toggle-screen"
fi
{% endif %}
# vim:set et sw=4 ts=4 ft=sh.jinja:
