#!/bin/bash

working_dir="$HOME/working"
mkdir "$working_dir"
for platform in staging production; do
    /usr/bin/pass customerio/openvpn/${platform}> "$working_dir/${platform}.ovpn"
    /usr/bin/nmcli connection import type openvpn file "$working_dir/${platform}.ovpn"
    /usr/bin/nmcli connection modify "${platform}" ipv4.never-default yes
    /usr/bin/nmcli connection modify "${platform}" ip4v.dns-search {{ google_dns }}
done
rm -r "$working_dir"
