#!/bin/sh

# Set my virtualenvs directory
export WORKON_HOME="$HOME/.virtualenvs"

# Enable virtualenvwrapper
{% if salt['grains.get']('os_family', 'None') == 'Debian' %}
VIRTUALENVWRAPPER=/usr/share/virtualenvwrapper/virtualenvwrapper.sh
{% else %}
VIRTUALENVWRAPPER=/usr/bin/virtualenvwrapper.sh
{% endif %}

if [ -f "${VIRTUALENVWRAPPER}" ]; then
    # shellcheck disable=SC1094
    source "${VIRTUALENVWRAPPER}"
else
    exit 1
fi

if [ ! -d "$WORKON_HOME"/rtv ]; then
    mkvirtualenv rtv
    pip install rtv
    deactivate
fi

workon rtv || exit 1

rtv
