[local]
media_dir = /mnt/avasarala/audio
excluded_file_extensions = 
    .m3u
    .jpg
    .directory
    .html
    .jpeg
    .log
    .nfo
    .xml
    .png
    .txt

[file]
enabled = false
{%- set soundcloud = config.soundcloud %}
{%- set emby = config.emby %}
{%- set spotify = config.spotify %}
{%- set spotify_web = config.spotify_web %}
[soundcloud]
auth_token = {{ soundcloud.auth_token }}
explore_songs = 25

[emby]
hostname = {{ emby.hostname }}
port = {{ emby.port }}
username = {{ emby.username }}
password = {{ emby.password }}

[spotify]
username = {{ spotify.username }}
password = {{ spotify.password }}
client_id = {{ spotify.client_id }}
client_secret = {{ spotify.client_secret }}

[spotify_web]
client_id = {{ spotify_web.client_id }}
client_secret = {{ spotify_web.client_secret }}
