<settings>
    <setting id="accessToken" value="" />
    <setting id="additionalUsers" value="" />
    <setting id="askCinema" value="false" />
    <setting id="connectMsg" value="true" />
    <setting id="connectUsername" value="" />
    <setting id="dbSyncScreensaver" value="false" />
    <setting id="dblock" value="false" />
    <setting id="deleteMovies" value="false" />
    <setting id="deleteTV" value="false" />
    <setting id="deviceName" value="Kodi on {{ salt['grains.get']('host', 'unknown') }}" />
    <setting id="deviceNameOpt" value="false" />
    <setting id="displayMessage" value="4" />
    <setting id="downloadThreads" value="3" />
    <setting id="enableCinema" value="true" />
    <setting id="enableContext" value="true" />
    <setting id="enableContextTranscode" value="true" />
    <setting id="enableCoverArt" value="true" />
    <setting id="enableExportSongRating" value="false" />
    <setting id="enableExternalSubs" value="true" />
    <setting id="enableImportSongRating" value="true" />
    <setting id="enableMusic" value="true" />
    <setting id="enableTextureCache" value="true" />
    <setting id="enableUpdateSongRating" value="false" />
    <setting id="failedCount" value="0" />
    <setting id="idMethod" value="0" />
    <setting id="ignoreSpecialsNextEpisodes" value="false" />
    <setting id="imageCacheLimit" value="5" />
    <setting id="incSyncIndicator" value="10" />
    <setting id="limitIndex" value="15" />
    <setting id="logLevel" value="1" />
    <setting id="markPlayed" value="90" />
    <setting id="metricLogging" value="true" />
    <setting id="networkCreds" value="" />
    <setting id="newContent" value="false" />
    <setting id="newmusictime" value="2" />
    <setting id="newvideotime" value="5" />
    <setting id="offerDelete" value="false" />
    <setting id="offlinetMsg" value="true" />
    <setting id="playFromStream" value="true" />
    <setting id="restartMsg" value="false" />
    <setting id="resumeJumpBack" value="10" />
    <setting id="server" value="{{ config.emby_url }}" />
    <setting id="serverSync" value="true" />
    <setting id="skipContextMenu" value="false" />
    <setting id="skipDialogTranscode" value="0" />
    <setting id="sslcert" value="None" />
    <setting id="sslverify" value="false" />
    <setting id="startupDelay" value="0" />
    <setting id="streamMusic" value="true" />
    <setting id="syncEmptyShows" value="false" />
    <setting id="transcodeHi10P" value="false" />
    <setting id="transcode_h265" value="false" />
    <setting id="useDirectPaths" value="0" />
    <setting id="username" value="stooj" />
    <setting id="videoBitrate" value="20" />
</settings>
