#!/bin/sh

# Set virtualenvs directory
export WORKON_HOME="$HOME/.virtualenvs"

{% if salt['grains.get']('os_family', 'None') == 'Debian' %}
VIRTUALENVWRAPPER=/usr/share/virtualenvwrapper/virtualenvwrapper.sh
{% else %}
VIRTUALENVWRAPPER=/usr/bin/virtualenvwrapper.sh
{% endif %}

if [ -f "$VIRTUALENVWRAPPER" ]; then
    . "$VIRTUALENVWRAPPER"
else
    exit 1
fi

if [ ! -d "$WORKON_HOME"/dentally-docs ]; then
    mkvirtualenv --python="$(command -v python3)" dentally-docs
    pip install greenlet
    pip install gevent
    pip install https://github.com/Rykka/instant-rst.py/archive/master.zip
    deactivate
fi
