{% set host=salt.grains.get('id', None) %}
[connection]
id=Dentally - Perimeter 81
uuid={{ (host ~ '-dentally-vpn') | uuid }}
type=vpn
autoconnect=false
permissions=user:stooj:;

[vpn]
ca=/etc/openvpn/safervpn.com.ca.crt
cipher=AES-256-CBC
comp-lzo=adaptive
connection-type=password
password-flags=1
remote=vpn.dentally.co
username={{ config.id }}
service-type=org.freedesktop.NetworkManager.openvpn

[ipv4]
dns-search=
method=auto

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
method=auto
