{%- if "DATABASE_URL" in config %}
{%- set db_url = config.get("DATABASE_URL") %}
{%- endif %}
{%- if "DATABASE_URL_READ_ONLY" in config %}
{%- set db_url_read_only = config.get("DATABASE_URL") %}
{%- endif -%}

{%- set skiplist = ['DATABASE_URL', 'DATABASE_URL_READ_ONLY'] -%}

{% for name, value in config.items() if name not in skiplist -%}
{% if value is iterable and value is not string -%}
{{ name }}="{{ value|join(' ') }}"
{%- else -%}
{{ name }}="{{ value }}"
{%- endif %}
{% endfor %}

{% for name, value in config.items() if name in skiplist -%}
{% if value is iterable and value is not string -%}
{{ name }}="{{ value|join(' ') }}"
{%- else -%}
{{ name }}="{{ value }}"
{%- endif %}
{% endfor %}


# DOCMAIL_WSDL=
# DOCMAIL_USERNAME=
# DOCMAIL_PASSWORD=
# SSL_CERT_KEY_FILE=
# SSL_CA_CERT_FILE=
# SSL_CERT_FILE=
# SSL_CERT_KEY_PASSWORD=
# SCOT_SSL_CERT_KEY_PASSWORD=
# SCOT_SSL_CERT_KEY_FILE=

# SLACK_WEBHOOK_URL=

# GOCARDLESS_TOKEN=

# STRIPE_API_KEY=
# STRIPE_CHECKOUT_KEY=

# INTERCOM_APP_ID=
# INTERCOM_API_KEY=
# INTERCOM_SECRET_KEY=

# MIXPANEL_TOKEN=

# GET_ADDRESS_API_KEY=

# GOOGLE_ANALYTICS=

# DB_REAP_FREQ=
# DB_STATEMENT_LIMIT=

# NHS_CLAIM_SUBMIT_URL=
# NHS_CLAIM_SUBMIT_URL_LIVE=
# NHS_CLAIM_RESPONSES_URL_LIVE=

# HOSTED_GRAPHITE_API_KEY=

# BUGSNAG_API_KEY=
# BUGSNAG_JS_API_KEY=

# SECRET_TOKEN=
# SECRET_KEY_BASE=
# DEVISE_SECRET_KEY=

{# vim:set et sw=4 ts=4 ft=sh.jinja: #}
