#!/bin/sh

# Set virtualenvs directory
export WORKON_HOME="$HOME/.virtualenvs"

{% if salt['grains.get']('os_family', 'None') == 'Debian' %}
VIRTUALENVWRAPPER=/usr/share/virtualenvwrapper/virtualenvwrapper.sh
{% else %}
VIRTUALENVWRAPPER=/usr/bin/virtualenvwrapper.sh
{% endif %}

if [ -f "$VIRTUALENVWRAPPER" ]; then
    . "$VIRTUALENVWRAPPER"
else
    exit 1
fi

if [ ! -d "$WORKON_HOME"/blog ]; then
    mkvirtualenv --python="$(command -v python3)" blog
    pip install pelican
    deactivate
fi
