# Set PATH so that it includes the user's private bin if it exists
if [ -d "$HOME/bin" ] ; then
    export PATH="$HOME/bin:$PATH"
fi

if [ -d "$HOME/.local/bin" ] ; then
    export PATH="$HOME/.local/bin:$PATH"
fi

# Antigen configuration
if ! [ -d "$HOME/.cache" ]; then
    mkdir "$HOME/.cache"
fi

ANTIGEN_LOG="$HOME/.cache/antigen.log"
source "$HOME/.antigen/antigen.zsh"

antigen use oh-my-zsh
antigen bundle zsh-users/zsh-syntax-highlighting
antigen bundle zsh-users/zsh-autosuggestions
antigen bundle git
antigen bundle heroku
antigen bundle rbenv
antigen bundle tmux
antigen bundle vi-mode

if [[ $TMATE -eq "1" ]]; then
    antigen theme https://gist.github.com/stooj/25010167bd0d948ea322565b6feb9258 airline-no-powerline
else
    antigen theme https://gist.github.com/stooj/46874354747f4253fc12637d617c2321 airline
fi

antigen apply

# Read in envvars
if [ -f "$HOME/.zsh_envvars" ]; then
    source "$HOME/.zsh_envvars"
fi

# Read in private environment variables
if [ -f "$HOME/.private_vars" ]; then
    source "$HOME/.private_vars"
fi

# Update term capabilities for xterm
case "$TERM" in
	xterm)
		# Try to ensure we have 256 colors
		export TERM="xterm-256color"
	;;
    screen*)
        export TERM="screen-256color"
        # color_prompt=yes;;
esac

# Don't store commands in global history until window is closed
unsetopt share_history

# Read in aliases
if [ -f "$HOME/.zsh_aliases" ]; then
    source "$HOME/.zsh_aliases"
fi

# Read in functions
if [ -f "$HOME/.bash_functions" ]; then
    source "$HOME/.bash_functions"
fi
if [ -f "$HOME/.zsh_functions" ]; then
    source "$HOME/.zsh_functions"
fi

# If it exists, run the fix-termcolors script from gruvbox
if [ -e "$HOME/.local/share/dein/repos/github.com/morhetz/gruvbox/gruvbox_256palette.sh" ]; then
    source "$HOME/.local/share/dein/repos/github.com/morhetz/gruvbox/gruvbox_256palette.sh" 
fi


# Enable virtualenvwrapper
{% if salt['grains.get']('os_family', 'None') == 'Debian' %}
VIRTUALENVWRAPPER=/usr/share/virtualenvwrapper/virtualenvwrapper.sh
{% else %}
VIRTUALENVWRAPPER=/usr/bin/virtualenvwrapper.sh
{% endif %}

if [ -f "${VIRTUALENVWRAPPER}" ]; then
    # shellcheck disable=SC1094
    source "${VIRTUALENVWRAPPER}"
fi

# Start the gpg-agent if not already running
if [ -e "$(which gpg-connect-agent > /dev/null 2>&1)" ]; then
    if ! pgrep -x -u "${USER}" gpg-agent >/dev/null 2>&1; then
        gpg-connect-agent /bye >/dev/null 2>&1
    fi
fi

# Set SSH to use gpg-agent
unset SSH_AGENT_PID
if [ "${gnupg_SSH_AUTH_SOCK_by:-0}" -ne $$ ]; then
  export SSH_AUTH_SOCK="/run/user/$UID/gnupg/S.gpg-agent.ssh"
fi

# Set GPG TTY
GPG_TTY=$(tty)
export GPG_TTY

# Refresh gpg-agent tty in case user switches into an X session
if [ -e "$(which gpg-connect-agent > /dev/null 2>&1)" ]; then
    gpg-connect-agent updatestartuptty /bye >/dev/null
fi

# Set PATH so that it includes the user's ruby gems
if [ -e "$HOME/.gem/ruby/" ]; then
    for d in "$HOME/.gem/ruby/"*; do
        if [ -d "$d/bin" ]; then
            export PATH="$d/bin:$PATH"
        fi
    done
fi

# Set PATH so that it includes rbenv
if [ -e "$HOME/.rbenv/bin" ]; then
    export PATH="$HOME/.rbenv/bin:$PATH"
fi

# Include node packages in path
if [ -e "$HOME/.node_modules/bin" ]; then
    export PATH="$HOME/.node_modules/bin:$PATH"
fi

if command -v rbenv >/dev/null; then
    eval "$(rbenv init -)"
fi

# Set PATH to include go directory
if [ -e "$HOME/programming/go/bin" ]; then
    export PATH="$HOME/programming/go/bin:$PATH"
fi

if command -v tmuxinator > /dev/null; then
    # Configure tmuxinator autocomplete
    args=("/usr/lib/ruby/gems" "$HOME/.gem/ruby" "-name" "tmuxinator.zsh" "-print")
    source "$(find "${args[@]}" 2> /dev/null | head -n1)"
fi

# Fortune
if command -v fortune >/dev/null; then
    #fortune discworld startrek
    fortune
    echo ""
fi

# Calendar
if command -v rem > /dev/null; then
    my_reminders
    echo ""
fi

# TODO list
{% if salt.grains.get('os_family', 'None') == 'Debian' %}
{% set todotxt = '/usr/bin/todo-txt' %}
{% elif salt.grains.get('os_family', 'None') == 'Arch' %}
{% set todotxt = '/usr/bin/todo.sh' %}
{% else %}
{% set todotxt = '/dev/null' %}
{% endif %}
if command -v {{ todotxt }} > /dev/null; then
    echo "### TODO ###"
    {{ todotxt }} ls
    echo ""
fi

if command -v direnv > /dev/null; then
    eval "$(direnv hook zsh)"
fi

if [ -e "$HOME/.asdf/asdf.sh" ]; then
    source "$HOME/.asdf/asdf.sh"
fi

{# vim:set et sw=4 ts=4 ft=sh.jinja: #}
