[General]
confirmExternalStorage=true
newBigFolderSizeLimit=1000
optionalDesktopNotifications=true
optionalServerNotifications=true
useNewBigFolderSizeLimit=true

[Accounts]
0\Folders\1\ignoreHiddenFiles=false
0\Folders\1\journalPath=._sync_408172aa38a7.db
0\Folders\1\localPath=/home/stooj/nextcloud/itw/
0\Folders\1\paused=false
0\Folders\1\targetPath=/
0\authType=webflow
0\serverVersion=13.0.2.1
0\url={{ config.zero.serverurl }}
0\user=stooj
0\webflow_user=stooj
1\Folders\2\ignoreHiddenFiles=false
1\Folders\2\journalPath=._sync_04015b4bba4c.db
1\Folders\2\localPath=/home/stooj/nextcloud/goodteith/
1\Folders\2\paused=false
1\Folders\2\targetPath=/
1\authType=webflow
1\serverVersion=13.0.3.2
1\url={{ config.one.serverurl }}
1\user=stooj
1\webflow_user=stooj
version=2

[ActivityListHeader]
geometry=@ByteArray(\0\0\0\xff\0\0\0\0\0\0\0\x1\0\0\0\x1\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\x5\xdb\0\0\0\x5\x1\0\0\x1\0\0\0\0\0\0\0\0\0\0\0\0q\xff\xff\xff\xff\0\0\0\x81\0\0\0\0\0\0\0\x5\0\0\0\xa9\0\0\0\x1\0\0\0\0\0\0\x2@\0\0\0\x1\0\0\0\0\0\0\0\x82\0\0\0\x1\0\0\0\0\0\0\0\x82\0\0\0\x1\0\0\0\0\0\0\x1\xee\0\0\0\x1\0\0\0\0\0\0\x3\xe8\0)

[Settings]
geometry=@ByteArray(\x1\xd9\xd0\xcb\0\x2\0\0\0\0\x5\x66\0\0\0\xc4\0\0\v\x81\0\0\x5m\0\0\x5h\0\0\0\xc4\0\0\v\x7f\0\0\x5k\0\0\0\0\0\0\0\0\rp)

[SharingDialog]
geometry=@ByteArray(\x1\xd9\xd0\xcb\0\x2\0\0\0\0\x5\xe2\0\0\x2\x1c\0\0\a}\0\0\x3S\0\0\x5\xe4\0\0\x2\x1c\0\0\a{\0\0\x3Q\0\0\0\x1\0\0\0\0\rp)
