#!/bin/sh

# Set my virtualenvs directory
export WORKON_HOME="$HOME/.virtualenvs"

# Enable virtualenvwrapper
{% if salt['grains.get']('os_family', 'None') == 'Debian' %}
VIRTUALENVWRAPPER=/usr/share/virtualenvwrapper/virtualenvwrapper.sh
{% else %}
VIRTUALENVWRAPPER=/usr/bin/virtualenvwrapper.sh
{% endif %}

if [ -f "${VIRTUALENVWRAPPER}" ]; then
    # shellcheck disable=SC1094
    source "${VIRTUALENVWRAPPER}"
else
    exit 1
fi

if [ ! -d "$WORKON_HOME"/audible-activator ]; then
    mkvirtualenv audible-activator
    pip install requests
    pip install selenium
    deactivate
fi

workon audible-activator || exit 1

{{ home }}/src/audible-activator.py

{# vim:set et sw=4 ts=4 ft=sh.jinja: #}
