#!/bin/bash

if [ -e "$HOME/bin/qutebrowser" ]; then
    QUTEBROWSER="$HOME/bin/qutebrowser"
    QT_SCALE_FACTOR=1.6 $QUTEBROWSER -r {{ profile }}
else
    (>&2 echo "Qutebrowser wrapper script not installed")
fi

{# vim: set ft=sh.jinja: #}
