{% if 'from' in config %}
{% set from = config.from %}
{% else %}
{% set from = config.user %}
{% endif %}
{% set user = config.user %}
{% if 'gmail' in config.host %}
unset record  # gmail does this automatically
{% else %}
set record = +{{ account }}/sent
{% endif %}
set postponed = +{{ account }}/drafts
unset signature

set sendmail="/usr/bin/msmtp -a {{ account }}"

set from="{{ from }}"

# bcc myself to make gmail style threaded conversations
my_hdr bcc: {{ user }}

# Spam location
set my_spamdir = +{{ account }}/spam

# vim: set ft=muttrc
