#------------------------------------------------------#
# ~/.mail_config/mutt/common

set check_new = yes
set beep_new = yes
set realname = "{{ mutt.realname }}"
set mail_check = 60             # Check for new mail in all mailboxes
                                # every minute
set mbox_type=Maildir
set timeout = 30
set use_from = yes          # Required for msmtp to know which account to use
				            # for emails

# defaults for how to open attachments
set mailcap_path = ~/.mail_config/mutt/mailcap
auto_view text/html
alternative_order text/plain text/html      # Prefer plain text

set sort = 'threads'
set sort_aux = 'last-date-received'
set imap_check_subscribed = yes

set header_cache=~/.mail_config/mutt/cache/headers
set message_cachedir=~/.mail_config/mutt/cache/bodies
set certificate_file=~/.mail_config/mutt/certificates

set move=no                        # Don't move mail from the spool.

set text_flowed                    # Turn on format=flowed

#======================================================#
# which editor do you want to use? 
# vim of course!
set editor="vim -c 'set textwidth=72 colorcolumn=72 expandtab formatoptions+=w' -c 'set spell' '+/^$'"
set edit_headers          # See the headers when editing

#======================================================#
# Order of headers and what to show
hdr_order Date: From: User-Agent: X-Mailer \
          To: Cc: Reply-To: Subject:
ignore *
unignore Date: From: User-Agent: X-Mailer: X-PGP-Key:  \
          To: Cc: Reply-To: Subject:

#======================================================#
# Odds and Ends
set sort_alias=alias     # sort aliases in alpha order by alias name
set markers          # mark wrapped lines of text in the pager with a +
set smart_wrap       # Don't wrap mid-word
set pager_context=6  # Retain 6 lines of previous page when scrolling.
set status_on_top    # Status bar on top.
push <show-version>  # Shows mutt version at startup
set menu_scroll      # Menus/index scroll one line at a time, instead of 1 page

# Live on in the clacks
my_hdr X-Clacks-Overhead: GNU Terry Pratchett

# vim: set ft=muttrc
