# macros
macro generic   ,<Space>    ":source ~/.mail_config/mutt/muttrc\n" "Reload mutt's configuration file"
macro index \cn     <next-unread-mailbox>
macro pager j       <next-line>
macro pager k       <previous-line>
macro pager <PageUp>    <previous-undeleted>
macro pager <PageDown>  <next-undeleted>
#macro pager \cb         <pipe-entry>'w3m'<enter> 'Follow links in w3m'
macro attach 'V' "<pipe-entry>cat >~/.cache/mutt/mail.html && $BROWSER ~/.cache/mutt/mail.html"

# macros for mairix
macro index,pager ,f "<shell-escape>mairix -f ~/.mail_config/mairixrc " "run a Mairix search"
macro index,pager ,s "<change-folder-readonly>=mairix-search\n" "switch to mairix results folder"
macro index,pager ,i "<change-folder>={{ mutt.default_account }}/inbox\n" "back to inbox"

# GPG macros
macro attach G "<pipe-entry>gpg --import\n" "Import signed key to gpg keyring"

# Spam macros
macro index S "<tag-prefix><enter-command>unset resolve<enter><tag-prefix><clear-flag>N<tag-prefix><clear-flag>O<tag-prefix><enter-command>set resolve<enter><tag-prefix><save-message>$my_spamdir<enter>" "file as Spam"
macro pager S "<save-message>$my_spamdir<enter>" "file as Spam"


# vim: set ft=muttrc
