# Main configuration based on http://www.physics.drexel.edu/liki/index.php/Mutt

{% if mutt.default_account %}
{% set default_account = mutt.default_account %}
{% else %}
{% set default_account = "stooj" %}
{% endif %}

{% if mutt.triggers %}
{% set triggers = mutt.triggers %}
{% else %}
{% set triggers = [] %}
{% endif %}

set folder = ~/.mail
source ~/.mail_config/mutt/muttmailboxes
set spoolfile = +"{{ default_account }}/inbox"

source ~/.mail_config/mutt/common
source ~/.mail_config/mutt/colors
# Not using alias to store addresses now,
# using lbdb
#set alias_file=~/.mail_config/mutt/aliases
#source $alias_file
set query_command="lbdbq '%s'"
source ~/.mail_config/mutt/pgp

# if we are in any directory starting with the following, pull
# specific settings from somewhere else

{% for account, data in accounts.items() -%}
folder-hook +{{ account }}/.* "source ~/.mail_config/mutt/{{ account }}"
{% endfor %}
{%- for trigger, data in triggers.items() -%}
folder-hook +{{ data.account }}/{{ trigger }}/.* "source ~/.mail_config/mutt/{{ trigger }}"
{% endfor %}

# Mutt will mark emails from these addresses as having been sent by you
alternates {% for account, data in accounts.items() %}{{ data.user }}{% if 'from' in data.keys() %} {{ data.from }}{% endif %} {% endfor %}
# All the macros we have defined
source ~/.mail_config/mutt/macros

# Disable the folder view if using mutt-patched
#set sidebar_visible=no
