set record = +{{ account }}/sent
set postponed = +{{ account }}/drafts
unset signature

set sendmail="/usr/bin/msmtp -a {{ account }}"

set from="{{ address }}"

# bcc myself to make gmail style threaded conversations
my_hdr bcc: {{ address }}
# vim: set ft=muttrc
