#!/bin/bash

if [ $(command -v chromium-browser) ]; then
    BROWSER=$(which chromium-browser)
elif [ $(command -v chromium) ]; then
    BROWSER=$(which chromium)
else
    exit 1
fi

$BROWSER --args --profile-directory="{{ profile }}"
