#!/bin/sh

# Set virtualenvs directory
export WORKON_HOME="$HOME/.virtualenvs"

{% if salt['grains.get']('os_family', 'None') == 'Debian' %}
VIRTUALENVWRAPPER=/usr/share/virtualenvwrapper/virtualenvwrapper.sh
{% else %}
VIRTUALENVWRAPPER=/usr/bin/virtualenvwrapper.sh
{% endif %}

if [ -f "$VIRTUALENVWRAPPER" ]; then
    . "$VIRTUALENVWRAPPER"
else
    exit 1
fi

if [ ! -d "$WORKON_HOME"/cio-deploy ]; then
    mkvirtualenv --python="$(command -v python2)" cio-deploy
    pip install -r ${HOME}/programming/customerio/deploy/gce/requirements.txt
    pip install pycairo
    pip install PyGObject
    pip install SecretStorage
    pip install python-dbus
    deactivate
fi
