#!/bin/bash
#
# Bash profile
#

if [ -f "$HOME"/.bashrc ]; then
    # shellcheck source=.bashrc
    source "$HOME"/.bashrc
fi

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/bin" ] ; then
    PATH="$HOME/bin:$PATH"
fi

# Default terminal for i3 to use
if command -v konsole > /dev/null; then
    TERMINAL=$(which konsole)
elif command -v urxvt > /dev/null; then
    TERMINAL=$(which urxvt)
else
    TERMINAL=$(which xterm)
fi
export TERMINAL

if [ -f "$HOME"/.perlbrew/etc/bashrc ]; then
    if [[ $(which perlbrew 2> /dev/null) ]]; then
        # shellcheck disable=SC1090
        source "$HOME"/.perlbrew/etc/bashrc
    fi
fi

# Use ssh-agent
# eval $(ssh-agent)

if [ -n "$DESKTOP_SESSION" ];then
    eval $(gnome-keyring-daemon --start)
fi

{% if salt['grains.get']('role', '') == 'personal-computer' %}
{# Is this even needed? #}
# Use GPG Agent
if command -v gpg-agent >/dev/null; then
    eval $(gpg-agent)
fi

{% endif %}

{# vim:set et sw=4 ts=4 ft=sh.jinja: #}
