#!/bin/bash


# Displays information about the system. Useful to call at login
function mach()
{
    echo -e "\nMachine information:" ; uname -a
    echo -e "\nUsers logged on:" ; w -h
    echo -e "\nCurrent date:" ; date
    echo -e "\nMachine status:" ; uptime -p
    echo -e "\nMemory status:" ; free -h
    echo -e "\nFilesystem status:" ; df -h
}

# Wrapper around make to provide color output
# From http://stackoverflow.com/a/6437049
function make()
{
    pathpat="^.*:[0-9]+"
    #pathpat="(/[^/]*)+:[0-9]+"
    ccred=$(echo -e "\033[0;31m")
    ccyellow=$(echo -e "\033[0;33m")
    ccend=$(echo -e "\033[0m")
    /usr/bin/make "$@" 2>&1 | sed -E -e "/[Ee]rror[: ]/ s%$pathpat%$ccred&$ccend%g" -e "/[Ww]arning[: ]/ s%$pathpat%$ccyellow&$ccend%g"
    return "${PIPESTATUS[0]}"
}

# Combination of cd and ls
function cl() {
    dir=$1
    if [[ -z "$dir" ]]; then
        dir=$HOME
    fi
    if [[ -d "$dir" ]]; then
        cd "$dir" || exit
        ls
    else
        echo "bash: cl: '$dir': Directory not found"
    fi
}


function calc() {
    echo "scale=3;$@" | bc -l
}

function removelink() {
    [ -L "$1" ] && cp --remove-destination "$(readlink "$1")" "$1"
}

{% set role = salt.grains.get('role', '') %}

{% if role == 'personal-computer' or role == 'cio-laptop' %}
# Displays any about information associated with the keyword provided
function about()
{
    # VLESS=$(find /usr/share/vim -name 'less.sh') || less
    echo ${1}
    set -x
    files=$(find "$HOME/programming/about/source" -name 'about_*${1}*' -print0)
    if [[ $files = '' ]]; then
        echo "No files found"
        return 1
    fi
    echo $files | xargs $SHELL -c '</dev/tty $PAGER "$@"' ignoreme
    set +x
    # if [[ $VLESS != "less" ]]; then
    #     VLESS=$VLESS -R -c 'set ft=rst nomod nolist nonumber norelativenumber colorcolumn=0'
    # fi
}

function define() {
    word=$1
    curl -s dict://dict.org/d:"$1" | less
}

# A simple note taker
function note() {
    NOTES="$HOME/documents/.notes"
    # If the file doesn't exist, create it
    if [[ ! -f $NOTES ]]; then
        touch "$NOTES"
    fi

    if ! (($#)); then
        # no arguments, print the file
        cat "$NOTES"
    elif [[ "$1" == "-c" ]]; then
        # clear file
        > "$NOTES"
    else
        # Add all arguments to file
        printf "%s\n" "$*" >> "$NOTES"
    fi
}

function kingbash.fn() {

    echo -n "KingBash> $READLINE_LINE"
    OUTPUT=$(/usr/bin/kingbash "$(compgen -ab -A function)")
    READLINE_POINT=$(echo "$OUTPUT" | tail -n 1)
    READLINE_LINE=$(echo "$OUTPUT" | head -n -1)
    echo -ne "\r\e[2K"
}

function pdfgrep() {
    # Search pdfs in the current directory
    for f in *.pdf; do
        pdftotext "$f" - | grep --with-filename --label="$f" --color "$1"
    done
}

{% endif %}
{% if role == 'personal-computer' %}
# Retrieves the ip address for a rackspace server
function get_rackspace_ip()
{
    ip_address=$(nova show "${1}" 2> /dev/null | grep "public network" | grep -oE '((1?[0-9][0-9]?|2[0-4][0-9]|25[0-5])\.){3}(1?[0-9][0-9]?|2[0-4][0-9]|25[0-5])')
    echo "$ip_address"
}

function dental_pin() {
    practice=$1
    pass edental/practice_pin_numbers | head -n 3
    pass edental/practice_pin_numbers | grep -A 1 -i "$practice"
}

# From http://stackoverflow.com/a/15263242/2906750
function my_reminders() {
    reminders=$(rem -s+1 -b1 | grep "$(date +"%Y/%m/%d")" | cut -d' ' -f 6-)
    pad="$(printf '%0.1s' "-"{1..11})"
    printf "### Reminders for %s (today) ###\n" "$(date +"%A, %d %B, %Y")"
    while read -r line; do
        if [[ "$line" =~ ^[A-Za-z] ]]; then
            printf "%s %s\n" "$pad" "$line"
        else
            echo "$line"
        fi
    done <<< "$reminders"
}

{% endif %}

{# vim:set et sw=4 ts=4 ft=sh.jinja: #}
