#!/bin/bash

#
# Bash aliases
#

# Make vim act like a pager
#VLESS=$(find /usr/share/vim -name 'less.sh')
#if [ ! -z "$VLESS" ]; then
#    # shellcheck disable=2139
#    alias less="$VLESS"
#fi
alias less="\$PAGER"

# Use coloured ls
alias ls='ls --color=auto --group-directories-first'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# Use coloured diffs (remember to install colordiff)
if command -v colordiff > /dev/null; then
    alias diff='colordiff'
fi

# Coloured grep
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Switch pagers
alias more='less'

# Always use human numbers for df
alias df='df -h'

# Always use human numbers and a grand total for du
alias du='du -c -h'

# Make dmesg a lot more readable and useful
alias dmesg='dmesg -HL'

# On debian systems, rename is the fully-powered perl version, but the one
# shipped with arch is a less powerful version. If perl-rename exists, then
# we're probably using arch and have installed the more featureful renamer.
command -v perl-rename > /dev/null && \
    alias rename='perl-rename'

{% if salt['grains.get']('role', '') == 'personal-computer' %}
# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# Pretty-print json
alias ppjson='python2 -c "import sys, json; print json.dumps(json.load(sys.stdin), sort_keys=True, indent=4)"'

# Convert yaml to json
alias yaml2json='python -c "import sys, yaml, json; json.dump(yaml.load(sys.stdin), sys.stdout, indent=4)"'
# Convert json to yaml
alias json2yaml='python -c "import sys, yaml, json; yaml.dump(json.load(sys.stdin), sys.stdout, indent=4)"'

# todo.txt
{% if salt.grains.get('os_family', 'None') == 'Debian' -%}
{%- set todotxt = 'todo-txt' -%}
{%- elif salt.grains.get('os_family', 'None') == 'Arch' -%}
{%- set todotxt = 'todo.sh' -%}
{%- else -%}
{%- set todotxt = 'echo "todo.sh not available on this OS"' -%}
{%- endif %}
alias t='{{ todotxt }}'

# Open files with the correct tool
alias o='xdg-open'

# Yank the current directory to the clipboard (a la pentadactyl)
alias y='pwd | head -c -1 | xsel -i'

# Use neovim with sudoedit
alias sudovimdiff="SUDO_EDITOR='nvim -d' sudoedit"
# alias sudovimdiff="SUDO_EDITOR='vim -d' sudoedit"

# In fact, use neovim for everything if possible
command -v nvim > /dev/null && \
    alias vim='nvim'

{% else %}

alias sudovimdiff="SUDO_EDITOR='vim -d' sudoedit"

{% endif %}

{# vim:set et sw=4 ts=4 ft=sh.jinja: #}
