command=$SCRIPT_DIR/$BLOCK_NAME
color=#EDDBB2

[song]
command=mpc current
label=♫
interval=1
color=#2ebd59

[weather]
command=/home/stooj/.i3/scripts/weather
interval=3600

{% if platform == 'laptop' %}
[battery]
command=/home/stooj/.i3/scripts/battery
interval=30
label=🔋
{% endif %}

[load]
command=/home/stooj/.i3/scripts/load_average
interval=1
label=⇅

[disk]
command=/home/stooj/.i3/scripts/disk
interval=1
label=⛁

# Memory usage
# The type defaults to "mem" if the instance is not specified.
[memory]
label=
command=/home/stooj/.i3/scripts/memory
interval=30
color=#b8bb26

[volume]
command=/home/stooj/.i3/scripts/volume 1
label=♭
interval=1

[date]
command=date '+%Y-%m-%d %H:%M'
interval=1
label=
color=#b8bb26
