# i3 config file (v4)
#
# Please see http://i3wm.org/docs/userguide.html for a complete reference!

#######################################################################
#                                THEME                                #
#######################################################################

set $bg #282828
set $red #cc241d
set $green #98971a
set $yellow #d79921
set $blue #458588
set $purple #b16286
set $aqua #689d68
set $gray #a89984
set $darkgray #1d2021

# set $bg-color #664c54
# set $inactive-bg-color #3c3836
# set $text-color #eddbb2
# set $inactive-text-color #a89984

# window colors
# class                 border              background         text                     indicator     child border
# client.focused          $bg-color           $bg-color           $text-color             #2e9ef4       $bg-color
# client.focused_inactive #282828             #5f676a             #ffffff                 #484e50       #5f676a
# client.unfocused        $inactive-bg-color  $inactive-bg-color  $inactive-text-color    #292d2e       #222222
# client.urgent           #cc241d             #cc241d             #ebdbb2                 #cc241d       #cc241d
# client.placeholder      #000000             #0c0c0c             #ffffff                 #000000       #0c0c0c

# blue gruvbox
# class                 border|backgr|text|indicator|child_border
client.focused          $blue $blue $darkgray $purple $darkgray
client.focused_inactive $darkgray $darkgray $yellow $purple $darkgray
client.unfocused        $darkgray $darkgray $yellow $purple $darkgray
client.urgent           $red $red $white $red $red

# client.background #ffffff

set $mod Mod4

# Border style for new windows
# new_window none
hide_edge_borders both
# font for window titles. ISO 10646 = Unicode
font pango:meslo lg s for powerline 15px
# font pango: FontAwesome 11px

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# start a terminal
bindsym $mod+Return exec i3-sensible-terminal

# kill focused window
bindsym $mod+Shift+Q kill

# start rofi (a program launcher)
bindsym $mod+d exec rofi -show run
bindsym $mod+Shift+D exec rofi -show drun
bindsym $mod+c exec rofi -show ssh 
bindsym $mod+p exec rofi-pass
bindsym $mod+m exec clerk
bindsym $mod+t exec teiler

# change focus
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

# alternatively, you can use the cursor keys:
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# move focused window
bindsym $mod+Shift+H move left
bindsym $mod+Shift+J move down
bindsym $mod+Shift+K move up
bindsym $mod+Shift+L move right

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# split in horizontal orientation
bindsym $mod+o split h

# split in vertical orientation
bindsym $mod+v split v

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen

# change container layout (stacked, tabbed, default)
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout default

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+a focus parent

# focus the child container
#bindcode $mod+d focus child

# switch to workspace
bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 10

{%- set keyboard = salt.grains.get('keyboard', 'us') %}
# move focused container to workspace
bindsym $mod+Shift+exclam move container to workspace 1
bindsym $mod+Shift+{% if keyboard == 'uk' %}quotedbl{% else %}at{% endif %} move container to workspace 2
bindsym $mod+Shift+{% if keyboard == 'uk' %}sterling{% else %}numbersign{% endif %} move container to workspace 3
bindsym $mod+Shift+dollar move container to workspace 4
bindsym $mod+Shift+percent move container to workspace 5
bindsym $mod+Shift+asciicircum move container to workspace 6
bindsym $mod+Shift+ampersand move container to workspace 7
bindsym $mod+Shift+asterisk move container to workspace 8
bindsym $mod+Shift+parenleft move container to workspace 9
bindsym $mod+Shift+parenright move container to workspace 10

# reload the configuration file
bindsym $mod+Shift+C reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+R restart
# exit i3 (logs you out of your X session)
# bindsym $mod+Shift+E exit
bindsym $mod+Shift+E exec /home/stooj/.i3/scripts/exit_menu

# resize window (you can also use the mouse for that)
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode

        # Pressing left will shrink the window’s width.
        # Pressing right will grow the window’s width.
        # Pressing up will shrink the window’s height.
        # Pressing down will grow the window’s height.
        bindsym h resize shrink width 10 px or 10 ppt
        bindsym j resize grow height 10 px or 10 ppt
        bindsym k resize shrink height 10 px or 10 ppt
        bindsym l resize grow width 10 px or 10 ppt

        # same bindings, but for the arrow keys
        bindsym 113 resize shrink width 10 px or 10 ppt
        bindsym 116 resize grow height 10 px or 10 ppt
        bindsym 111 resize shrink height 10 px or 10 ppt
        bindsym 114 resize grow width 10 px or 10 ppt

        # back to normal: Enter or Escape
        bindsym Return mode "default"
        bindsym Escape mode "default"
}

bindsym $mod+r mode "resize"

# Start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)
bar {
    # Find font names: fc-list | grep -i font-i-want 
    {% if hidpi %}
    font pango: FontAwesome 14
    {% else %}
    font pango: FontAwesome 8
    {% endif %}
	mode hide
	modifier Mod4
	position top
    status_command i3blocks -c /home/stooj/.i3/i3blocks.conf
    colors {
        # bar background color
        background $bg
        # text color used for blocks that do not have a color specified.
        statusline $yellow
        # workspaces section            
        #                    border  backgr. text
        focused_workspace    $aqua $aqua $darkgray
        inactive_workspace   $darkgray $darkgray $yellow
        active_workspace     $darkgray $darkgray $yellow
        urgent_workspace     $red $red $bg
        # background $inactive-bg-color
        # statusline #ebdbb2
        # separator  #666666

        # focused_workspace  #458588 #458588 #ebdbb2
        # active_workspace   #83a598 #83a598 #ebdbb2
        # inactive_workspace #504945 #504945 #ebdbb2
        # urgent_workspace #cc241d #cc241d #504945
  }

}

# Polybar
# exec_always --no-startup-id $HOME/.config/polybar/launch.sh

# Enable screen lock
# Picture doesn't work - requires a png
bindsym Control+$mod+l exec i3lock -i /home/stooj/pictures/lock-screen -c 000000 -t -f -e

# Media buttons
bindsym XF86AudioRaiseVolume exec --no-startup-id pamixer --increase 5  # increase sound volume
bindsym XF86AudioLowerVolume exec --no-startup-id pamixer --decrease 5 # descrease sound volume
bindsym XF86AudioMute exec --no-startup-id pamixer --toggle-mute

bindsym XF86AudioPlay exec mpc toggle
bindsym XF86AudioPause exec mpc toggle
bindsym XF86AudioNext exec mpc next
bindsym XF86AudioPrev exec mpc prev
bindsym XF86MonBrightnessDown exec xbacklight -dec 10
bindsym XF86MonBrightnessUp exec xbacklight -inc 10

bindsym Print exec scrot

# Window-specific settings
# Floating overrides
# Tip: To find out what these values might be run:
#       xprop | grep -i 'class'
for_window [class="launcher.exe" instance="Wine"] floating enable
for_window [class="Steam"] floating enable
for_window [class="X3R_config"] floating enable
for_window [class="Kodi"] fullscreen enable
for_window [class="Pinentry"] floating enable
for_window [class="Gnome-calculator"] floating enable
# Add rule for testing To-do list django app
#for_window [title="Invent the World"] floating enable

# Run startup script
exec --no-startup-id ~/.i3/autostart

bindcode $mod+96 exec ~/bin/toggle-keyboard

# vim:filetype=i3
