# Control email delivery

### Begin group: DEFAULT

# from 
from_ = u'{{ config.calibre_email }}'
 
# accounts
accounts = cPickle.loads('\x80\x02}q\x01X\x17\x00\x00\x00{{ config.kindle_email }}q\x02]q\x03(U\x19AZW, MOBI, TPZ, PRC, AZW1q\x04\x88\x88es.')
 
# subjects
subjects = cPickle.loads('\x80\x02}q\x01.')
 
# aliases
aliases = cPickle.loads('\x80\x02}q\x01.')
 
# tags
tags = cPickle.loads('\x80\x02}q\x01.')
 
# relay host
relay_host = u'{{ config.mailserver_address }}'
 
# relay port
relay_port = {{ config.mailserver_port }}
 
# relay username
relay_username = u'{{ config.relay_username }}'
 
# relay password
# relay_password = '{{ config.relay_password }}'
 
# encryption
encryption = 'TLS'
 

