#!/bin/bash

{% for account, data in accounts.items() %}
MAILDIR{{ loop.index }}="$HOME"/.mail/{{ account }}/inbox/new
{%- endfor %}

{% for account, data in accounts.items() %}
echo "Watching $MAILDIR{{ loop.index }}"
while MAILNAME{{ loop.index }}=$(inotifywait -qe MOVED_TO --format '%f' "$MAILDIR{{ loop.index }}"); do
    echo "$MAILNAME{{ loop.index }}"
    "$HOME"/.mail_config/lib/mail-notify "$MAILDIR{{ loop.index }}"/"$MAILNAME{{ loop.index }}"
done{% if not loop.last %}&{% endif %}
{% endfor %}
